<h1><%= @user.name %>'s Profile</h1>

<% if @user == current_user %>
    <h3>Add beer</h3>
    <%= render 'beers/form' %>
<% end %>

<ul>
    <% @user.beers.each do |beer| %>
    <li> <%= beer.name %> <%= beer.rating %> </li>
    <% end %>
</ul>