<h1><%= @user.name %>'s Profile</h1>

<% if @user == current_user %>
    <h3>Add beer</h3>
    <%= render 'beers/form' %>
<% end %>

<table>
      <th>Name</th>
      <th>Rating</th>
      <% @user.beers.each do |beer| %>
      <tbody>
            <tr>
                <td> <%= beer.name %> </td>
                <td> <%= beer.rating %></td>
            </tr>
      <% end %>
    </tbody>
</table>